.idle{
    background-color: black;
    color:white;
}

.waiting
{
    background-color: red;
    color: white;
}

.running
{
    background-color: yellow;
    color:black;
}

.done
{
    background-color: green;
    color:white;
}