button{
    padding: 1rem 2rem;
    margin: 1rem;
    border:none;
    float: left;
    border-radius: 10px;
    cursor: pointer;
}


.idle{
    background-color: black;
    color:white;
}

.waiting
{
    background-color: red;
    color: white;
}

.running
{
    background-color: yellow;
    color:black;
}

.done
{
    background-color: green;
    color:white;
}